<md-card>
  <md-card-header class="bg-gray">
    <md-card-title>
      <h1>{{title}}</h1>
    </md-card-title>
    <md-card-subtitle>{{subtitle}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <table class="width80">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput type="text" placeholder="YouTube video url" [(ngModel)]="youtubeUrl" [disabled]="inProcess" />
          </md-input-container>
        </td>
        <td>
          <button md-raised-button (click)="getLinksButtonOnClick()" [disabled]="inProcess" class="getlinks-button"><md-icon>link</md-icon> Get Links</button>
        </td>
      </tr>
    </table>
    <hr *ngIf="youtubeLinksModel.length > 0 || errorMessage != ''" />
    <table class="table" *ngIf="youtubeLinksModel.length > 0">
      <thead>
        <tr>
          <td colspan="100" class="text-center">{{PageTitle}} </td>
        </tr>
        <tr>
          <td>#</td>
          <td>Title</td>
          <td>Format Code</td>
          <td>Audio Format</td>
          <td>File Extension</td>
          <td>Is3D</td>
          <td>Is Adaptive</td>
          <td>Is Encrypted</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of youtubeLinksModel; let myIndex = index">
          <td>{{ myIndex + 1 }}</td>
          <td>
            <md-radio-button name="selectTypeRadio" (change)="selectRadioButtonOnChange($event, item)">
              {{ item.Resolution <= 0 ? 'Sound' : item.Resolution + 'p' }}
            </md-radio-button>
          </td>
          <td>{{ item.FormatCode }}</td>
          <td>{{ item.AudioFormat }}</td>
          <td>{{ item.FileExtension }}</td>
          <td>{{ item.Is3D }}</td>
          <td>{{ item.IsAdaptive }}</td>
          <td>{{ item.IsEncrypted }}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="selectedDownloadModel != null && !inProcess">
        <tr *ngIf="downloadUrl == ''">
          <td colspan="90" class="text-center">
            <button md-raised-button (click)="downloadButtonOnClick()" class="getdownloadlinks-button"><md-icon>file_download</md-icon> Download</button>
          </td>
        </tr>
        <tr *ngIf="downloadUrl != ''">
          <td colspan="3" class="text-center">
            <h4 class="text-blue">Your download will start, or you can download it by click <a [href]="downloadUrl">here</a>, It's valid until
              next 6 hours.</h4>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="spinner">
      <md-spinner *ngIf="inProcess"></md-spinner>
    </div>
    <div class="text-danger" *ngIf="errorMessage != ''" [innerHTML]="errorMessage"></div>
  </md-card-content>
</md-card>