
.container {
    margin: 0 auto;
}

.bg-gray{
    background: #f7f7f7;
}

.text-danger{
    color: red;
}

.text-center{
    text-align: center;
}
.center-block{
    display: block;
    margin: 0 auto;
}

md-card-content{
    margin-top: 10px;
}

.full-width{
    width: 90%;
}

.width80 {
    width: 80%;
    margin: 0 auto;
}

.table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.table td, .table th{
    font-size: 18px;
}

.table>thead {
    background: #ccc;
    font-weight: bold;
}

.table>tbody tr td{
    border-top: solid 1px #ccc;
}

.table>tbody tr:nth-child(even){
    background: #f7f7f7;
}
.table>tfoot {
    padding: 10px;
}

.spinner{
    margin: 0 auto;
    width: 100px;
}

.getlinks-button,
.getdownloadlinks-button{
    font-size: 20px;
    padding: 15px;
    border: 1px solid #B8EB59;
    background: #E6FFB2;
    color:#5CA000;
}

input[type="text"]{
    font-size: 18px;
}