<md-card itemscope>
  <md-card-header class="well">
    <md-card-title>
      <h1 itemprop="name">{{title}}</h1>
    </md-card-title>
    <md-card-subtitle itemprop="description">{{subtitle}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="row">
      <div class="col-sm-10">
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="Youtube url" [(ngModel)]="youtubeUrl" [disabled]="inProcess" />
        </md-input-container>
      </div>
      <div class="col-sm-2">
        <button md-raised-button (click)="getLinksButtonOnClick()" [disabled]="inProcess"><md-icon>link</md-icon> Get Links</button>
      </div>
    </div>
    <hr *ngIf="youtubeVideoInfoModel != null || errorMessage != ''" />
    <div class="row" *ngIf="youtubeVideoInfoModel != null">
      <div class="col-sm-4">
        <img class="img-responsive img-thumbnail" [src]="youtubeVideoInfoModel.ImageThumbnailUrl" [alt]="youtubeVideoInfoModel.Title">
        <ul class="list-group">
          <li class="list-group-item">Title: <b>{{youtubeVideoInfoModel.Title}}</b></li>
          <li class="list-group-item">Duration: <b>{{youtubeVideoInfoModel.Duration}}</b></li>
          <li class="list-group-item">Rate: <b>{{youtubeVideoInfoModel.AverageRating}}</b>
            <md-icon class="text-gray">star_rate</md-icon>
          </li>
          <li class="list-group-item">View: <b>{{youtubeVideoInfoModel.ViewCount}}</b>
            <md-icon class="text-gray">visibility</md-icon>
          </li>
          <li class="list-group-item">Like: <b>{{youtubeVideoInfoModel.LikeCount}}</b>
            <md-icon class="text-gray">sentiment_satisfied</md-icon>
          </li>
          <li class="list-group-item">Dislike: <b>{{youtubeVideoInfoModel.DislikeCount}}</b>
            <md-icon class="text-gray">sentiment_dissatisfied</md-icon>
          </li>
        </ul>
      </div>
      <div class="col-sm-8">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th colspan="100">Videos</th>
              </tr>
              <tr>
                <th>#</th>
                <th>Quality</th>
                <th>Resolution</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of youtubeVideoInfoModel.VideoStreams; let myIndex = index" class="cursor-pointer" (click)="streamRowOnClick(item)">
                <td>{{ myIndex + 1 }}</td>
                <td>
                  <md-radio-button name="selectTypeRadio" [checked]="item.Itag == selectedStreamToDownload.Itag" (focus)="item.Itag == selectedStreamToDownload.Itag"
                    (change)="selectRadioButtonOnChange($event, item)" [disabled]="inProcess">
                    {{ item.VideoQuality }}
                  </md-radio-button>
                </td>
                <td>{{ item.Resolution }}</td>
                <td>{{ item.Size }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th colspan="100">Audios</th>
              </tr>
              <tr>
                <th>#</th>
                <th>Quality</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of youtubeVideoInfoModel.AudioStreams; let myIndex = index" class="cursor-pointer" (click)="streamRowOnClick(item)">
                <td>{{ myIndex + 1 }}</td>
                <td>
                  <md-radio-button name="selectTypeRadio" [checked]="item.Itag == selectedStreamToDownload.Itag" (focus)="item.Itag == selectedStreamToDownload.Itag"
                    (change)="selectRadioButtonOnChange($event, item)" [disabled]="inProcess">
                    {{ item.Bitrate }}
                  </md-radio-button>
                </td>
                <td>{{ item.Size }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" *ngIf="selectedStreamToDownload.Itag > 0 && !inProcess && downloadUrl == ''">
          <div class="col-sm-12 text-center">
            <button md-raised-button (click)="downloadButtonOnClick()" class="btn-primary"><md-icon>file_download</md-icon> Download </button>
          </div>
        </div>
        <div class="row" *ngIf="downloadUrl != ''">
          <div class="col-sm-12">
            <h3 class="text-blue">Your download will start, or you can download it by click <a [href]="downloadUrl">here</a>, It's valid until
              next 6 hours.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center-block text-center" *ngIf="inProcess">
        <md-spinner class="center-block"></md-spinner>
        <span class="text-muted">Your movie is downloading, It depend's on your movie volume.</span>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''" [innerHTML]="errorMessage">></div>
    <div class="row hidden">
      <div class="col-sm-6">
        <star-rating-comp [starType]="'svg'" [rating]="5" [labelText]="'Please rate us:'" [labelVisible]="true" [disabled]="false"
          [numOfStars]="5" [hoverEnabled]="true" [speed]="'immediately'">
        </star-rating-comp>
      </div>
      <div class="col-sm-6">
        <button md-raised-button type="button">Submit</button>
      </div>
    </div>
  </md-card-content>
</md-card>