
.bg-gray{
    background: #f7f7f7;
}

md-card-content{
    margin-top: 10px;
}

.full-width{
    width: 90%;
}

.width80 {
    width: 80%;
    margin: 0 auto;
}

.please-wait{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
